@font-face {
    font-family: 'Gilroy';
    src:
        local('Gilroy'),
        url("../fonts/web/gilroyextrabold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src:
        local(Gilroy),
        url("../fonts/web/gilroylight.woff2") format("woff2");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: 'OpenSans';
    src:
        local('OpenSans'),
        url("../fonts/web/opensanslight.woff2") format("woff2");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: 'OpenSans';
    src:
        local('OpenSans'),
        url("../fonts/web/opensans.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}


