body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background: none;
}

.button-search {
    display: none;
}

.search-field {
    background-color: #f7e296;
    border: none;
    width: 350px;
    padding-left: 40px;
    padding-bottom: 14px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 4px 2px;
}

.search-field:focus {
    outline: none;
    border-bottom: 2px solid #000000;
}

.search-field:focus + .button-search {
    display: inline-block;
    margin-left: -5px;
    width: 85px;
    height: 49px;
    border: 2px solid #000000;
}

.search-field + .button-search:hover,
.search-field + .button-search:focus {
    display: inline-block;
    margin-left: -5px;
    width: 85px;
    height: 49px;
    color: #ffffff;
    background-color: #000000;
}

.search-field + .button-search:active {
    display: inline-block;
    margin-left: -5px;
    width: 85px;
    height: 49px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.main-header {
    background-image: linear-gradient(#ffffff 30px, #f7e296 30px);
}

.main-logo {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.main-header-logo {
    color: #000000;
}

.header-user-navigation a.logout,
.footer-user-navigation a.logout {
    padding-left: 10px;
}

.main-footer-logo {
    color: #ffc600;
}

.header-user-navigation,
.header-site-navigation,
.footer-user-navigation,
.footer-site-navigation,
.catalog-menu-list,
.popular-list,
.services-list,
.brands-list,
.transport-list,
.footer-social,
.breadcrumbs,
.sort-list,
.catalog-list,
.pagination-list,
.filter-color,
.filter-bluetooth {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-slider-slide {
    margin-bottom: 110px;
    background-image: linear-gradient(#f7e296 125px, #ffffff 125px);
}

.user-link {
    position: relative;
    display: block;
    padding-left: 20px;
}
.user-login {
    padding-left: 25px;
}

.user-compare {
    margin-left: 215px;
    margin-right: 42px;
}

.user-login::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    
    width: 13px;
    height: 12px;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-compare::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    
    width: 13px;
    height: 12px;
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-cart::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    
    width: 13px;
    height: 12px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-site-navigation,
.footer-site-navigation,
.button {
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.catalog-menu-list a {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
}

.header-user-navigation a,
.header-site-navigation a,
.catalog-menu-list a,
.details,
.popular-list .popular-link,
.services-list a,
.about-us a,
.contacts a,
.breadcrumbs a,
.sort-list a,
.catalog-list a,
.pagination-list a {
    color: #000000;
}

.details {
    display: block;
    width: 150px;
    padding: 25px 45px;
    margin-top: 30px;
}

.promo-slider-slide .features {
    margin-top: 30px;
}

.promo-slider-slide {
    width: 100%;
    position: relative;
    z-index: 2;
}

.promo-slide-1::before {
    content: "01";
}

.promo-slide-2::before {
    content: "02";
}

.promo-slide-3::before {
    content: "03";
}

.promo-slider-slide::before {
    z-index: -1;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 180px;
    color: #ffffff;
    position: absolute;
    top: 75px;
    right: 50px;
}

.catalog-menu::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    opacity: 0.3;
}

.catalog-menu {
    position: relative;
    z-index: 3;
    display: block;
    margin-left: -1px;
}

.catalog-menu-list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 38px;
    left: -59px;
    width: 1100px;
    height: 130px;
    margin: 0;
    padding-left: 60px;
    padding-bottom: 20px;
    background-color: #f7e296;
}

.catalog-menu:hover .catalog-menu-list,
.catalog-menu:focus .catalog-menu-list,
.catalog-menu-list:hover,
.catalog-menu-list:focus {
    display: block;
}

.footer-user-navigation a,
.footer-site-navigation a,
.main-footer p {
    color: #ffffff;
}

.header-user-navigation a:hover,
.header-user-navigation a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.header-site-navigation a:hover,
.header-site-navigation a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.main-logo-pages:hover,
.main-logo-pages:focus,
.social-button:hover path,
.social-button:focus path,
.html-link:hover,
.html-link:focus, 
.breadcrumbs a.breadcrumbs-active:hover,
.breadcrumbs a.breadcrumbs-active:focus {
    opacity: 0.6;
}

.header-user-navigation a:active,
.header-site-navigation a:active,
.footer-user-navigation a:active,
.footer-site-navigation a:active,
.main-logo-pages:active,
.html-link:active,
.header-user-navigation a.logout,
.popular-list .popular-link:active,
.breadcrumbs a,
.button:active,
.footer-user-navigation a.logout,
.social-button path, 
.sort-list a,
.pagination-list a {
    opacity: 0.3;
}
.popular-list .popular-item {
    position: relative;
}

.popular-list .popular-link {
    display: block;
    padding-bottom: 20px;
    width: 160px;
    height: 55px;
}

.popular-list .popular-item::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    margin-bottom: 33px;
    background-color: #f7e296;
}

.popular-list .popular-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 160px;
    height: 160px;
}

.popular-list .vr::before {
    background-image: url("../img/vr.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.popular-list .monopods::before {
    background-image: url("../img/monopods.svg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

.popular-list .cams::before {
    background-image: url("../img/action-cameras.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.popular-list .bands::before {
    background-image: url("../img/bands.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.popular-list .watch::before {
    background-image: url("../img/smart-watch.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.popular-list .drones::before {
    background-image: url("../img/drone.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.popular-list .popular-item:hover::before {
    background-color: #ffc600;
}

.popular-list .popular-item:active .vr::before {
    opacity: 0.3;
}

.services-slide {
    position: relative;
}

.services-slide-1::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 560px;
    width: 136px;
    height: 164px;
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.services-slide-2::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 560px;
    width: 171px;
    height: 194px;
    background-image: url("../img/warranty.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.services-slide-3::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 560px;
    width: 171px;
    height: 194px;
    background-image: url("../img/credit.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.breadcrumbs a.breadcrumbs-active:active,
.social-button:active path {
    opacity: 0.1;
}

b {
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.features {
    border-collapse: collapse;
}
.features-quality {
    width: 140px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0;
}

.features-quality:first-child {
    width: 160px;
}

h3.popular-title,
h3.title,
.filter legend,
.filter-name {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.services {
    background-image: linear-gradient(#ffffff 80px, #e5e5e5 80px,  #e5e5e5 366px, #ffffff 366px);
}

h3.services-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.button-services {
    letter-spacing: 0.2em;
}

.brands-list .brand-link {
    display: block;
    width: 260px;
    height: 100px;
}

.brands-list .brand-image {
    opacity: 0.2;
}

.brands-list .brand-dji:hover,
.brands-list .brand-dji:focus {
    background-image: url('../img/logo-dji-hover.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.brands-list .brand-sp-gadgets:hover,
.brands-list .brand-sp-gadgets:focus {
    background-image: url('../img/logo-spgadgets-hover.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.brands-list .brand-gopro:hover,
.brands-list .brand-gopro:focus {
    background-image: url('../img/logo-gopro-hover.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.brands-list .brand-vive:hover,
.brands-list .brand-vive:focus {
    background-image: url('../img/logo-vive-hover.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.transport-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
}

.user-letter .popup-user-name,
.user-letter .popup-user-email,
.user-letter .popup-user-letter {
    background-color: #f2f2f2;
    border: none;
}

.user-letter .popup-user-name:hover,
.user-letter .popup-user-email:hover,
.user-letter .popup-user-letter:hover {
    background-color: #eaeaea;
}

.user-letter .popup-user-name:focus,
.user-letter .popup-user-email:focus,
.user-letter .popup-user-letter:focus {
    background-color: #ffffff;
    outline-width: 1px;
    outline-color:  #ffc600;
}

.user-letter .popup-user-name:invalid,
.user-letter .popup-user-email:invalid,
.user-letter .popup-user-letter:invalid {
    background-color: #f6dada;
    outline:  none;
}

.user-letter label {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.user-letter .popup-user-name,
.user-letter .popup-user-email,
.user-letter .popup-user-letter {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}


.company-details {
    display: block;
    padding: 25px 25px;
}

.map-link {
    display: block;
    width: 560px;
    height: 222px;
    margin-bottom: 50px;
}

.write-us {
    display: block;
    padding: 25px 40px;
}

.letter-popup {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.user-letter {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.popup-user-name,
.popup-user-email {
    box-sizing: border-box;
    width: 360px;
    padding-top: 16px;
    padding-left: 15px;
    padding-bottom: 16px;
    flex-grow: 1;
}

.popup-user-letter {
    box-sizing: border-box;
    width: 760px;
    padding-top: 16px;
    padding-left: 15px;
    flex-grow: 2;
}

.button-send {
    display: block;
    margin-top: 35px;
    width: 135px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-footer {
    position: relative;
    background-color: #464646;
    padding-bottom: 65px;
    padding-top: 55px;
}

.main-footer::before {
    content: "";
    position: absolute;
    left: 243px;
    top: 238px;
    display: block;
    width: 80px;
    border-bottom: 8px solid #ffc600;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.html-link {
    position: relative;
    display: block;
    width: 27px;
    height: 35px;
    opacity: 1;
    background-image: url('../img/logo-html.svg');
    background-position: center;
    background-repeat: no-repeat;
}


/* Разметка второй страницы*/

h1 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
}

.filter-title,
.sort-title,
.pagination-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.sort-list {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.sort-list a.active,
.pagination-list a.active {
    opacity: 1;
}

.order-link {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url('../img/logo-html.svg');
}

.asc {
    background-image: url('../img/icon-up-dir.svg');
    opacity: 0.2;
}

.desc {
    background-image: url('../img/icon-down-dir.svg');
}

.price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.compare {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    opacity: 0.5;
}

.compare:hover,
.compare:focus {
    opacity: 1;
}

.compare:active {
    opacity: 0.2;
}

.filter,
.sort {
    background-color:  #ebebeb;
}

.filter fieldset {
    border: none;
}

.filter-price,
.filter-color,
.filter-bluetooth {
    font-size: 14px;
    line-height: 40px;
}

.filter-input:hover,
.filter-input:focus {
    opacity: 0.6;
}

.filter-input:disabled + label {
    color: #a6a6a6;
    opacity: 0.25;
}

.pagination-list {
    background-color: #ebebeb;
}
 
.pagination-back a:hover,
.pagination-back a:focus,
.pagination-back a:active,
.pagination-forward a:hover,
.pagination-forward a:focus,
.pagination-forward a:active {
    background-color: #d9d9d9;
}

.pagination-back a:active,
.pagination-forward a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* -- Сеточные стили -- */
.main-header,
.items-description,
.popular,
.services-layout,
.footer-layout,
.brands,
.contact-layout {
    margin-left: auto;
    margin-right: auto;
}

.items-description,
.popular,
.brands,
.contact-layout,
.services-layout,
.footer-layout {
    max-width: 1160px;
}

.main-header {
    max-width: 1050px;
    margin-top: 10px; 
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 39px;
}
.user-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 30px;
}

.user-search {
    box-sizing: border-box;
    width: 440px;
    margin-right: 100px;
}

.header-user-navigation {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

.header-site-navigation {
    display: flex;
    flex-wrap: wrap;
}

.header-site-navigation .header-delivery {
    margin-left: 322px;
    margin-right: 35px;
}

.header-site-navigation .header-contacts {
    margin-left: 108px;
}

.promo-slider-slide {
    display: flex;
    justify-content: space-between;
}

.promo-slider-slide .image-positioner {
    width: 500px;
    margin-top: 15px;
    margin-left: 90px;
}

.promo-slider-slide .promo-positioner {
    width: 500px;
    margin-top: 90px;
    margin-right: 60px;
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}

.popular-list li {
    width: 160px;
}

.services-layout {
    margin-bottom: 225px;
    padding-left: 40px;
}

.services-positioner {
    display: flex;
}

.services-slider {
    width: 380px;
    margin-top: 63px;
}

.services-slider-inner {
    width: 460px;
}

.services-list li {
    margin-bottom: 35px;
}

.services-slide h3 {
    margin-bottom: 25px;
}

.brands {
    margin-bottom: 100px; 
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-positioner {
    display: flex;
    justify-content: space-between;
}

.about-us {
    width: 460px;
}

.about-us > p {
    margin-bottom: 30px;
}

.about-us .transport-list {
    margin-top: 40px;
    margin-bottom: 42px;
}

.about-us .transport-list li:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-layout {
    margin-bottom: 20px;
}

.contacts {
    width: 560px;
}

.contacts p {
    margin-bottom: 40px;
}

.footer-positioner {
    display: flex;
    justify-content: space-between;
}

.footer-contact-positioner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-footer-logo {
    width: 150px;
}

.footer-user-navigation {
    width: 580px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    text-align: right;
}

.footer-compare {
    margin-left: 18px;
    margin-right: 38px;
}

.footer-address {
    width: 215px;
}

.footer-tel {
    width: 180px;
    text-align: right;
}

.footer-site-navigation {
    width: 455px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer-site-items:nth-child(2) {
    margin-right: 33px;
    margin-left: 33px;
}

.footer-social {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}