@font-face {
    font-family: "Gilroy";
    src:
        local("Gilroy"),
        url("../fonts/web/gilroyextrabold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Gilroy";
    src:
        local(Gilroy),
        url("../fonts/web/gilroylight.woff2") format("woff2");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: "OpenSans";
    src:
        local("OpenSans"),
        url("../fonts/web/opensanslight.woff2") format("woff2");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: "OpenSans";
    src:
        local("OpenSans"),
        url("../fonts/web/opensans.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    color: #000000;
    background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.main-header {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-layout {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 49px;
    background-image: linear-gradient(#ffffff 30px, #f7e296 30px);
}

.main-logo {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.main-header-logo {
    color: #000000;
}

.header-user-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.header-user-navigation .user-link {
    color: #000000;
}

.header-user-navigation .user-link:hover,
.header-user-navigation .user-link:focus {
    opacity: 0.6;
}

.header-user-navigation .user-link:active {
    opacity: 0.3;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6px;
    margin-bottom: 30px;
}

.user-search {
    width: 441px;
    font-size: 0;
}

.search-field {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    width: 356px;
    height: 49px;
    padding-left: 40px;
    font-size: 15px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 3px;
}

.search-field:focus {
    outline: none;
    border-bottom: 2px solid #000000;
}

.button-search {
    visibility: hidden;
    width: 85px;
    height: 49px;
    font-size: 15px;
    outline: none;
    border: none;
    background: none;
    border: 2px solid #000000;
    display: inline-block;
    vertical-align: bottom;
}

.search-field:focus + .button-search {
    visibility: visible;
}

.button-search:hover,
.button-search:focus {
    visibility: visible;
    color: #ffffff;
    background-color: #000000;
}

.button-search:active {
    display: inline-block;
    vertical-align: baseline;
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.user-link {
    position: relative;
    display: block;
    padding-left: 20px;
}

.header-user-navigation .user-link::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 13px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

.user-login {
    padding-left: 25px;
}

.user-login::before {
    background-image: url("../img/user.svg");
}

.header-compare {
    margin-left: 216px;
    margin-right: 40px;
}

.user-compare::before {
    background-image: url("../img/compare.svg");
}

.user-cart::before {
    background-image: url("../img/cart.svg");
}

.header-site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    list-style: none;
}

.site-navigation-link {
    color: #000000;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.catalog-button:hover,
.catalog-button:focus {
    opacity: 0.6;
}

.site-navigation-link:active,
.catalog-button:active {
    opacity: 0.3;
}

.catalog-button {
    outline: none;
    background: none;
    border: none;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.header-delivery {
    margin-left: 320px;
    margin-right: 35px;
}

.header-contacts {
    margin-left: auto;
}

.catalog-menu {
    position: relative;
    z-index: 3;
    display: block;
    margin-left: -1px;
}

.catalog-menu::after {
    content: "";
    position: absolute;
    top: 5px;
    right: -28px;
    width: 16px;
    height: 16px;
    background-image: url("../img/plus.svg");
    opacity: 0.3;
}

.catalog-menu:hover .catalog-menu-list,
.catalog-menu:focus .catalog-menu-list {
    visibility: visible;
}

.catalog-menu-list {
    position: absolute;
    z-index: 1;
    left: -59px;
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 60px;
    padding-bottom: 35px;
    list-style: none;
    background-color: #f7e296;
}

.catalog-menu-item-1 {
    margin-right: 54px;
}

.catalog-menu-item-2 {
    margin-right: 73px;
}

.catalog-menu-item-3 {
    width: 60%;
}

.catalog-menu-item-4 {
    margin-right: 81px;
}

.catalog-menu-item-5 {
    width: 78%;
}

.catalog-menu-item-6 {
    width: 100%;
}

.catalog-menu-list:hover,
.catalog-menu-list:focus {
    visibility: visible;
}

.catalog-link {
    color: #000000;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    text-transform: none;
    letter-spacing: 0;
}

.catalog-link:hover,
.catalog-link:focus {
    opacity: 0.6;
}

.catalog-link:active {
    opacity: 0.3;
}

.items-description {
    position: relative;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.items-slider-controls {
    position: absolute;
    z-index: 5;
    top: 320px;
    right: 100px;
}

.slider-btn {
    display: inline-block;
    vertical-align: baseline;
    width: 13px;
    height: 13px;
    background-image: url("../img/slider-button-empty.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.slider-btn-active {
    background-image: url("../img/slider-button.svg");
}

.slider-btn-2 {
    margin-right: 17px;
    margin-left: 17px;
}

.promo-slider-slide {
    position: relative;
    z-index: 2;
    display: none;
    margin-bottom: 109px;
    padding-top: 80px;
    padding-left: 599px;
    background-image: linear-gradient(#f7e296 113px, #ffffff 113px);
}

.promo-slider-slide::before {
    position: absolute;
    top: 63px;
    right: 48px;
    z-index: -1;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 180px;
    color: #ffffff;
}

.promo-slider-slide::after {
    content: "";
    position: absolute;
    top: 39px;
    right: 460px;
    width: 100px;
    height: 7px;
    background-color:#ffffff;
}

.promo-slide-active {
    display: block;
}

.promo-slide-1 {
    padding-right: 60px;
}

.promo-slide-1::before {
    content: "01";
}

.promo-slide-2 {
    padding-right: 110px;
}

.promo-slide-2::before {
    content: "02";
}

.promo-slide-2 .promo-motto {
    padding-right: 10px;
}

.promo-slide-3::before {
    content: "03";
}
.promo-image {
    position: absolute;
}

.promo-image-monopod {
    top: 1px;
    left: 90px;
}

.promo-image-band {
    top: 13px;
    left: 115px;
}

.promo-image-drone {
    top: 66px;
    left: 31px;
}

.promo-motto {
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 48px;
    line-height: 58px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.features {
    margin-top: 50px;
    border-collapse: collapse;
}

.features-quality {
    width: 140px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0;
}

.features-quality:first-child {
    width: 160px;
}

.button {
    position: relative;
    display: block;
    z-index: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.button::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 20%;
    background-color: #ffc600;
    transition: height 0.3s, width 0.3s, top 0.3s;
}

.button:hover::before,
.button:focus::before {
    top: 0;
    height: 100%;
}

.details {
    width: 150px;
    padding-right: 25px;
    padding-left: 45px;
    margin-top: 44px;
}

.popular {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-left: 20px;
    padding-right: 20px;
}

.popular-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.popular-item {
    width: 160px;
}

.popular-link {
    position: relative;
    display: block;
    width: 160px;
    color: #000000;
}

.popular-link:active .popular-title {
    opacity: 0.3;
}

.popular-device {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
    background-color: #f7e296;
}

.popular-link:hover .popular-device,
.popular-link:focus .popular-device {
    background-color: #ffc600;
}

.popular-device::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 140px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.popular-vr::before {
    left: 4px;
    top: 9px;
    background-image: url("../img/vr.svg");
}

.popular-monopods::before {
    left: 6px;
    top: 29px;
    background-image: url("../img/monopods.svg");
}

.popular-cameras::before {
    left: 9px;
    top: 11px;
    background-image: url("../img/action-cameras.svg");
}

.popular-bands::before {
    left: 6px;
    top: 12px;
    background-image: url("../img/bands.svg");
}

.popular-watch::before {
    left: 8px;
    top: 11px;
    background-image: url("../img/smart-watch.svg");
}

.popular-drones::before {
    left: 4px;
    top: 13px;
    background-image: url("../img/drone.svg");
}

.popular-link:active .popular-device::before {
    opacity: 0.3;
}

.services {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(#ffffff 0px, #ffffff 101px, #e5e5e5 101px,  #e5e5e5 388px, #ffffff 388px);
}

.services-layout {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    padding-bottom: 69px;
}

.services-positioner {
    display: flex;
}

.services-list {
    width: 277px;
    margin: 0;
    padding: 0;
    margin-right: 95px;
    padding-top: 80px;
    padding-bottom: 45px;
    list-style: none;
    border-right: 7px solid #000000;
}

.services-item {
    margin-bottom: 25px;
}

.services-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.services-info {
    margin: 0;
    padding: 0;
}

.services-slide {
    display: none;
    position: relative;
    width: 460px;
    margin-left: 21px;
    margin-top: 68px;
}

.services-slide-active {
    display: block;
}

.services-slide::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 194px;
    background-repeat: no-repeat;
    background-position: center;
}

.services-slide-1::after {
    top: 2px;
    left: 538px;
    background-image: url("../img/delivery.svg");
}

.services-slide-2::after {
    top: -6px;
    left: 541px;
    background-image: url("../img/warranty.svg");
}

.services-slide-3::after {
    top: -10px;
    left: 524px;
    background-image: url("../img/credit.svg");
}

.button-service {
    width: 161px;
    padding-left: 23px;
    padding-right: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    border: none;
    background: none;
    outline: none;
}

.button-service-active {
    color: #f7e296;
}

.button-service-active::before {
    top: 0;
    width:280px;
    height: 100%;
    background-color: #000000;
}

.brands {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px; 
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.brand-link {
    display: block;
    width: 260px;
    height: 100px;
}

.brand-item {
    margin-right: 40px;
}

.brand-item:nth-child(4n) {
    margin-right: 0;
}

.brand-image {
    opacity: 0.2;
}

.brand-dji:hover,
.brand-dji:focus {
    background-image: url("../img/logo-dji-hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.brand-sp-gadgets:hover,
.brand-sp-gadgets:focus {
    background-image: url("../img/logo-spgadgets-hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.brand-gopro:hover,
.brand-gopro:focus {
    background-image: url("../img/logo-gopro-hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.brand-vive:hover,
.brand-vive:focus {
    background-image: url("../img/logo-vive-hover.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.company-info-layout {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
    padding-left: 20px;
    padding-right: 20px;
}

.company-info-positioner {
    display: flex;
    justify-content: space-between;
}

.company-info-heading {
    position: relative;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.company-info-heading::before {
    content: "";
    position: absolute;
    bottom: 97px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.about-us {    
    width: 495px;
}

.description {
    margin-bottom: 30px;
}

.transport-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
}

.transport-item {
    position: relative;
    padding-left: 35px;
}

.transport-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 4px;
    width: 5px;
    height: 5px;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
}

.transport-item:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}

.company-details {
    width: 220px;
    padding-right: 17px;
    padding-left: 23px;
}

.contacts {
    width: 560px;
}

.contacts-info {
    margin-bottom: 40px;
}

.map-link {
    display: block;
    width: 560px;
    height: 222px;
    margin-bottom: 68px;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 5;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-map {
    top: 25%;
    left: 50%;
    width: 960px;
    margin-left: -480px;
}

.google-map {
    position: relative;
    z-index: 2;
    border: none;
}

.image-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-show {
    visibility: visible;
    animation-name: appearance;
    animation-duration: 1s;
}

@keyframes appearance {
    0% { transform: translateX(2500px); }
    100% { transform: translateX(0); }
}

.modal-close {
    position: absolute;
    z-index: 5;
    top: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    background-color: transparent;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    border: 0;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}

.write-us {
    width: 220px;
    padding-left: 42px;
}

.letter-popup {
    top: 25%;
    left: 50%;
    width: 760px;
    margin-left: -480px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 95px;
    padding-bottom: 80px;
}

.user-letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popup-user-name,
.popup-user-email {
    box-sizing: border-box;
    width: 360px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 16px;
    flex-grow: 1;
}

.popup-user-letter {
    box-sizing: border-box;
    width: 760px;
    padding-top: 16px;
    padding-left: 19px;
    flex-grow: 2;
    resize: vertical;
}

.popup-label {
    display: block;
    margin-bottom: 34px;
    font-family: "Gilroy", Arial, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.popup-user-name,
.popup-user-email,
.popup-user-letter {
    display: block;
    margin-top: 6px;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    background-color: #f2f2f2;
    border: none;
}

.popup-user-name:hover,
.popup-user-email:hover,
.popup-user-letter:hover {
    background-color: #eaeaea;
}

.popup-user-name:focus,
.popup-user-email:focus,
.popup-user-letter:focus {
    background-color: #ffffff;
    outline:  none;
    box-shadow: inset 0 0 0 3px #ffc600;
}

.popup-user-name:invalid,
.popup-user-email:invalid,
.popup-user-letter:invalid {
    background-color: #f6dada;
    outline:  none;
}

.button-send {
    width: 200px;
    margin-top: 9px;
    margin-bottom: 6px;
    padding-left: 35px;
    padding-right: 35px;
    outline: none;
    border: none;
    background: none;
}

@keyframes shake {     
    0%, 100% {transform: translateY(0);}     
    10%, 30%, 50%, 70%, 90% { transform: translateY(-10px);}
    20%, 40%, 60%, 80% { transform: translateY(10px);}
} 

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.main-footer {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 65px;
    padding-top: 55px;
    background-color: #464646;
}

.footer-layout {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.footer-positioner {
    display: flex;
    justify-content: space-between;
}

.main-footer-logo {
    width: 150px;
    color: #ffc600;
}

.footer-user-navigation {
    width: 580px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 8px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: right;
    list-style: none;
}

.footer-user-navigation .user-link {
    color: #ffffff;
}

.footer-user-navigation .user-link:hover,
.footer-user-navigation .user-link:focus {
    opacity: 0.6;
}

.footer-user-navigation .user-link:active {
    opacity: 0.3;
}

.footer-compare {
    margin-left: 10px;
    margin-right: 7px;
}

.footer-svg {
    padding-right: 8px;
}

.footer-site-navigation {
    width: 455px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-family:  "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-site-navigation .site-menu-link {
    color: #ffffff;
}

.footer-site-navigation .site-menu-link:hover,
.footer-site-navigation .site-menu-link:focus {
    opacity: 0.6;
}

.footer-site-navigation .site-menu-link:active {
    opacity: 0.3;
}

.footer-address {
    position: relative;
    width: 215px;
}

.footer-address::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 109px;
    width: 80px;
    border-bottom: 7px solid #ffc600;
}

.footer-tel {
    width: 180px;
    text-align: right;
}

.footer-site-items:nth-child(2) {
    margin-right: 33px;
    margin-left: 33px;
}

.footer-contact {
    color: #ffffff;
}

.footer-contact-positioner {
    margin-top: 48px;
    display: flex;
    justify-content: flex-end;
}

.footer-social {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-button {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.social-button::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.social-fb::before {
    left: 1px;
    background-image: url("../img/fb.svg");
}

.social-instagram::before {
    left: 2px;
    background-image: url("../img/instagram.svg");
}

.social-twitter::before {
    left: 4px;
    background-image: url(../img/twitter.svg)
}

.social-button {
    opacity: 0.3;
}

.social-button:hover,
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.html-link {
    display: block;
    margin-left: 473px;
    width: 27px;
    height: 35px;
    opacity: 1;
    background-image: url("../img/logo-html.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.html-link:hover,
.html-link:focus {
    opacity: 0.6;
}

.html-link:active {
    opacity: 0.3;
}

/* Разметка второй страницы*/

.main-logo-pages:hover,
.main-logo-pages:focus {
    opacity: 0.6;
}

.main-logo-pages:active {
    opacity: 0.3;
}

.header-logout {
    margin-left: 19px;
    opacity: 0.3;
}

.user-logout {
    display: block;
}

.user-login-compare {
    margin-left: 60px;
    margin-right: 42px;
}

.user-login-compare .user-link::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 13px;
    height: 12px;
    background-image: url("../img/compare.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.heading {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-heading {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 57px;
    font-weight: 800;
    margin-top: 33px;
    margin-bottom: 15px;
}

.heading-layout {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 44px;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 32px;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -13px;
    width: 4px;
    height: 7px;
    background-image: url("../img/nav-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.breadcrumbs-current::after {
    visibility: hidden;
}

.breadcrumbs-link {
    color: #000000;
    opacity: 0.3;
}

.breadcrumbs-active:hover,
.breadcrumbs-active:focus {
    opacity: 0.6;
}

.breadcrumbs-active:active {
    opacity: 0.1;
}

.sort {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.sort-layout {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.sort-positioner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 24px;
    background-image: linear-gradient(to right, transparent 330px, #ebebeb 330px);
}

.sort-title {
    margin: 0;
    margin-left: 254px;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.sort-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    margin-left: 55px;
    margin-right: 230px;
    padding: 0;
    list-style: none;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

.sort-list .active {
    opacity: 1;
}

.sort-item:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

.sort-link {
    color: #000000;
    opacity: 0.3;
}

.order-link {
    display: block;
    width: 11px;
    height: 10px;
    background-image: url("../img/logo-html.svg");
}

.asc-link {
    background-image: url("../img/icon-up-dir.svg");
    opacity: 0.2;
}

.desc-link {
    margin-left: 19px;
    background-image: url("../img/icon-down-dir.svg");
}

.catalog-columns {
    min-width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #efefef 50%, #ffffff 50%);
}

.filter {
    width: 225px;
    padding-left: 61px;
    padding-right: 47px;
}

.filter-title {
    margin: 0;
    padding: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-name {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.filter-name::before {
    content: "";
    position: absolute;
    bottom: 34px;
    left: 0;
    width: 215px;
    height: 2px;
    background-color: #000000;
}

.filter-input:hover + .filter-label::before,
.filter-input:focus + .filter-label::before,
.filter-input:checked:hover + .filter-label::before,
.filter-input:checked:focus + .filter-label::before {
    opacity: 0.6;
}

.filter-input:checked + .filter-label::before {
    opacity: 1;
}

.filter-input:disabled + .filter-label,
.filter-input:disabled + .filter-label::before {
    color: #a6a6a6;
    opacity: 0.25;
}

.filter-price {
    margin-top: 81px;
    font-size: 14px;
    line-height: 40px;
}

.range-controls {
    position: relative;
    width: 200px;
    margin-bottom: 5px;
}

.scale {
    height: 2px;
    background-color: #dbdbdb;
}

.bar {
    margin-top: 35px;
    width: 60%;
    height: 2px;
    background-color: #91c92f;
}

.toggle {
    position: absolute;
    top: -10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-min {
    left: -5px;
}

.toggle-max {
    left: 108px;
}

.price-controls {
    font-size: 0;
}

.price-label {
    display: inline-block;
    vertical-align: baseline;
    width: 50%;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.3);
}

.price-input {
    width: 60px;
    border: none;
    background: #efefef;
    color: rgba(0, 0, 0, 0.3);
}

.filter-color {
    margin: 0;
    margin-top: 34px;
    margin-bottom: 41px;
    padding: 0;
    border: none;
}

.filter-color-option {
    padding-left: 40px;
}

.filter-color-label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + .filter-color-label::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -40px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-input-checkbox:checked + .filter-color-label::before {
    left: -38px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-color-list,
.filter-bluetooth-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 40px;
}

.filter-bluetooth-option {
    padding-left: 40px;
}

.filter-bluetooth-label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-radio + .filter-bluetooth-label::before {
    content: "";  
    position: absolute;
    top: 4px;
    left: -42px;
    width: 27px;
    height: 27px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-input-radio:checked + .filter-bluetooth-label::before {
    background-image: url("../img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.filter-button {
    width: 200px;
    margin-top: 27px;
    text-align: center;
    outline: none;
    border: none;
    background: none;
}

.catalog {
    padding-top: 62px;
    padding-left: 71px;
    background-color: #ffffff;
}

.catalog-list {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    position: relative;
    width: 360px;
    margin-right: 40px;
    margin-top: 8px;
    margin-bottom: 28px;
    font-size: 0;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item:nth-child(4)::before {
    content: "new";
    position: absolute;
    z-index: 2;
    top: 29px;
    right: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}


.catalog-item-image {
    margin-bottom: 16px;
}

.catalog-item-title {
    display: inline-block;
    vertical-align: baseline;
    width: 260px;
    margin: 0;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.catalog-item-link {
    color: #000000;
}

.price {
    display: inline-block;
    vertical-align: baseline;
    width: 100px;
    text-align: right;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.price-position {
    vertical-align: top;
}

.catalog-item-hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 360px;
    height: 380px;
    background-color: rgba(238, 238, 238, 0.7);
    text-align: center;
}

.catalog-item:hover .catalog-item-hover {
    visibility: visible;
}

.button-to-cart,
.button-compare {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.button-to-cart {
    width: 200px;
    margin: 0 auto;
    margin-top: 155px;
    padding-right: 25px;
    padding-left: 45px;
    color: #000000;
}

.button-compare {
    display: block;
    margin: auto;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    opacity: 0.5;
}

.button-compare:hover,
.button-compare:focus {
    opacity: 1;
}

.button-compare:active {
    opacity: 0.2;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 77px;
    padding: 0;
    list-style: none;
    background-color: #ebebeb;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-link {
    display: block;
    padding: 23px 14px;
    color: #000000;
    opacity: 0.3;
}

.pagination-link:hover,
.pagination-link:focus {
    opacity: 0.6;
}

.pagination-link:active {
    opacity: 1;
}

.pagination-list .active,
.pagination-list .current {
    opacity: 1;
}

.pagination-back {
    margin-right: 195px;
    padding-left: 30px;
    padding-right: 30px;
}

.pagination-forward {
    margin-left: 186px;
    padding-left: 30px;
    padding-right: 25px;
}
 
.pagination-back:hover,
.pagination-back:focus,
.pagination-back:active,
.pagination-forward:hover,
.pagination-forward:focus,
.pagination-forward:active {
    background-color: #d9d9d9;
}

.pagination-back:active,
.pagination-forward:active {
    color: rgba(0, 0, 0, 0.3);
}


.footer-logout {
    margin-left: 19px;
    padding-left: 10px;
    opacity: 0.3;
}

